@page "/sak/{sakId}"
@inject IDataLesService dataLesService

<PageTitle>UDI kodetest 2025 - @title</PageTitle>

<h3 class="page-head"><i class="bi bi-paperclip"></i> @title</h3>

@if (sak == null)
{
    <LoadingPartial />
}
else
{ 
    <p>
        <span class="fw-bold">SakId</span>: @sak.SakId
        <span class="ms-3 fw-bold">RefNo</span>: @sak.RefNo
        <span class="ms-3 fw-bold">RecNo</span>: @sak.RecNo
        <span class="ms-3 fw-bold">Sendt SMS</span>: @sak.SendtSms
    </p>

    <VedtakPartial Vedtak="sak.Vedtak" />

    <PersondataPartial Person="sak.Soeker" Title="Søker" IsCaseView="true" />
    <PersondataPartial Person="sak.Fullmektig" Title="Fullmektig" IsCaseView="true" />
    <PersondataPartial Person="sak.Kontakt" Title="Kontaktperson" IsCaseView="true" />
}

@code {
    [Parameter]
    public required string SakId { get; set; }

    private SakDto? sak;
    private string? title;

    protected override async Task OnInitializedAsync()
    {
        sak = await dataLesService.HentSakMedSakId(Uri.UnescapeDataString(SakId)); // SakId inneholder "/"
        title = sak != null ? $"Sak {sak.SakId} ({sak.Soeker?.FulltNavn})" : "Henter sak ...";
    }
}
